*.env
*env
env*
.DS_Store

ENV-SETUP.md
GITLAB-VARS.md

DOC/report/report.aux
DOC/report/report.bbl
DOC/report/report.blg
DOC/report/report.log
DOC/report/report.out
DOC/report/report.toc
DOC/report/report.pdf
DOC/report/report.synctex.gz
DOC/report/report.fdb_latexmk
DOC/report/report.fls
DEV/mymovielist/textput.log
